@font-face {
    font-family: luck;
    src: url("Rubik-Black.ttf");
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
body{
    font-family:luck;
    margin:0px ;
    background-color: yellow;
   
}

.algorithms{
    
    background: white;
    border: solid 2px black;
    
    font-size:40px;
    color:black;
    display:block;
    height:150px;
}
body > a:first-of-type { 
margin-top: 100px;
}
.text_alg{
    float:left; 
    line-height: 150px;
    margin-left:50px;
}
.kostka_alg{
    float:left;
}

.small_cube{
    width:50px;
    height:50px;
}
.navbar{
    position:fixed;
    top:0px;
    width:100%;
    height:100px;
    text-align:center;
    margin-bottom:100px;
}
.button_type_alg{
    border:solid 0.85px black;
    float:left;
    width:33.18%;
    background:red;
    line-height:100px;
    height:100%;
    color:black;
    font-size: 40px;
}
.footer{

  right: 0;
  bottom: 0;
  left: 0;

  background-color: #efefef;
    line-height: 50px;
    height:50px;
  text-align: center;
}
.icon{
    margin-left:100px;
    margin-top: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}