@font-face {
    font-family: luck;
    src: url("Rubik-Black.ttf");
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
body{
    margin:0px ;
    background-color: yellow;
}

.algorithms{
    
    background: white;
    border: solid 2px black;
    font-family:luck;
    font-size:40px;
    color:black;
    display:block;
    height:150px;
}
.text_alg{
    float:left; 
    line-height: 150px;
    margin-left:50px;
}
.kostka_alg{
    float:left;
}

.small_cube{
    width:50px;
    height:50px;
}