.messagePane-form{
    width:10%;
    margin-bottom:0px;



    text-align:right;
}
.inputName{
    width:200px;
}
.inputText{
    overflow-y:auto;
    width: 200px;
    height:100px;
    resize:none;
}